<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Añadir Puntuación</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>

<body>
  <div class="form-body">

    <h1 class="title-form">Añadir Puntuación</h1>

    <form class="form" th:action="@{/admin/puntuacion/guardar}" th:object="${puntuacion}" method="post">
      <!-- Campo oculto para asociar la puntuación a la agrupación -->
      <input type="hidden" th:field="*{agrupacion.id}">

      <label for="fase">Fase:</label>
      <select id="fase" th:field="*{fase}">
        <option value="" disabled selected>Selecciona una fase</option>
        <option th:each="fase : ${fases}" th:value="${fase}" th:text="${fase}"></option>
      </select>
      <p th:if="${#fields.hasErrors('fase')}" th:errors="*{fase}"></p>

      <label for="puntos">Puntos:</label>
      <input type="number" id="puntos" th:field="*{puntos}" step="0.01" min="0" max="150" required>
      <p th:if="${#fields.hasErrors('puntos')}" th:errors="*{puntos}"></p>

      <button type="submit">Guardar</button>
    </form>

    <section class="container-links">
      <a th:href="@{'/user/agrupacion/' + ${puntuacion.agrupacion.id}}">Cancelar</a>
      <a href="/">Volver al inicio</a>
    </section>
  </div>
</body>

</html>