<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Añadir Componente</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>

<body>
  <div class="form-body">

    <h1 class="title-form">Añadir Componente</h1>
    <form class="form" th:action="@{/admin/componente/guardar}" th:object="${componente}" method="post">
      <!-- Campo oculto para asociar el componente a la agrupación -->
      <input type="hidden" th:field="*{agrupacion.id}">

      <div th:if="${error}" style="color:red;">
        <p th:text="${error}"></p>
      </div>

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" th:field="*{nombre}" required>
      <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>

      <label for="edad">Edad:</label>
      <input type="number" id="edad" th:field="*{edad}" min=0 max=150 required>
      <p th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></p>

      <label for="rol">Rol:</label>
      <input type="text" id="rol" th:field="*{rol}" required>
      <p th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></p>

      <label for="instrumento">Instrumento:</label>
      <input type="text" id="instrumento" th:field="*{instrumento}">
      <p th:if="${#fields.hasErrors('instrumento')}" th:errors="*{instrumento}"></p>

      <button type="submit">Guardar</button>
    </form>
    <section class="container-links">
      <a th:href="@{/user/agrupacion/{id}(id=${agrupacion.id})}">Cancelar</a>
      <a href="/">Volver a inicio</a>

    </section>
  </div>
</body>

</html>