<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crear Agrupación</title>
</head>
<body>
<h1>Crear Agrupación</h1>
<form th:action="@{/crear_agrupacion}" th:object="${agrupacion}" method="post">

  <!-- Nombre -->
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" th:field="*{nombre}" required>
  <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>

  <!-- Modalidad -->
  <label for="modalidad">Modalidad:</label>
  <select id="modalidad" th:field="*{modalidad}" required>
    <option value="" disabled selected>Seleccione una modalidad</option>
    <option value="Chirigota">Chirigota</option>
    <option value="Comparsa">Comparsa</option>
    <option value="Coro">Coro</option>
    <option value="Cuarteto">Cuarteto</option>
  </select>
  <p th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}"></p>

  <!-- Número de componentes -->
  <label for="numeroDeComponentes">Número de Componentes:</label>
  <input type="number" id="numeroDeComponentes" th:field="*{numeroDeComponentes}" min="1" required>
  <p th:if="${#fields.hasErrors('numeroDeComponentes')}" th:errors="*{numeroDeComponentes}"></p>

  <!-- Localidad -->
  <label for="localidad">Localidad:</label>
  <input type="text" id="localidad" th:field="*{localidad}" required>
  <p th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}"></p>

  <!-- Director
  <label for="director">ID del Director:</label>
  <input type="number" id="director" th:field="*{director.id}" min="1" placeholder="Ingrese el ID del director">
  <p th:if="${#fields.hasErrors('director')}" th:errors="*{director}"></p>-->

  <button type="submit">Crear</button>
</form>

<a href="/">Volver al Inicio</a>
</body>
</html>