<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Agrupación</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>

<body>
  <div class="form-body">
    <h1 class="title-form">Crear Agrupación</h1>
    <form class="form" th:action="@{/admin/crear_agrupacion}" th:object="${agrupacion}" method="post">



      <!-- Nombre -->
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" th:field="*{nombre}" required>
      <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>

      <!-- Modalidad -->
      <label for="modalidad">Modalidad:</label>
      <select id="modalidad" th:field="*{modalidad}" required>
        <option value="" disabled selected>Seleccione una modalidad</option>
        <option value="Chirigota">Chirigota</option>
        <option value="Comparsa">Comparsa</option>
        <option value="Coro">Coro</option>
        <option value="Cuarteto">Cuarteto</option>
      </select>
      <p th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}"></p>

      <!-- Localidad -->
      <label for="localidad">Localidad:</label>
      <input type="text" id="localidad" th:field="*{localidad}" required>
      <p th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}"></p>

      <!-- Director
  <label for="director">ID del Director:</label>
  <input type="number" id="director" th:field="*{director.id}" min="1" placeholder="Ingrese el ID del director">
  <p th:if="${#fields.hasErrors('director')}" th:errors="*{director}"></p>-->

      <button type="submit">Crear</button>
    </form>

    <section class="container-links">
      <a href="/user/agrupaciones">Cancelar</a>
      <a href="/auth/index">Volver al inicio</a>
    </section>
  </div>
</body>

</html>