<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <title>Detalle de Puntuación</title>
</head>

<body>
  <h1 th:text="'Detalle de la Puntuación: ' + ${puntuacion.id}"></h1>

  <!-- Información de la puntuación -->
  <div class="info">
    <p><strong>Fase:</strong> <span th:text="${puntuacion.fase}"></span></p>
    <p><strong>Puntos:</strong> <span th:text="${puntuacion.puntos}"></span></p>
    <p><strong>Agrupación:</strong>
      <span th:text="${puntuacion.agrupacion != null ? puntuacion.agrupacion.nombre : 'Sin agrupación'}"></span>
    </p>
  </div>


  <!-- Enlaces -->
  <section class="container-links">
    <a th:href="@{'/user/agrupacion/' + ${puntuacion.agrupacion.id}}">Volver a la agrupacion</a>
    <a href="/auth/index">Volver al inicio</a>
  </section>
</body>

</html>