<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Editar Componente</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>

<body>
  <div class="form-body">



    <h1 class="title-form" th:text="'Editar Componente: ' + ${componente.nombre}"></h1>

    <!-- Mostrar el mensaje de error si existe -->
    <div th:if="${error}" style="color: red;">
      <p th:text="${error}"></p>
    </div>

    <!-- Formulario para editar el componente -->
    <form class="form" th:action="@{/componente/editar}" th:object="${componente}" method="post">
      <!-- ID del componente (oculto) -->
      <input type="hidden" th:field="*{id}" />

      <!-- Nombre -->
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" th:field="*{nombre}" required />
      <br>

      <!-- Edad -->
      <label for="edad">Edad:</label>
      <input type="number" id="edad" th:field="*{edad}" min="1" required />
      <br>

      <!-- Rol -->
      <label for="rol">Rol:</label>
      <input type="text" id="rol" th:field="*{rol}" required />
      <br>

      <!-- Instrumento -->
      <label for="instrumento">Instrumento:</label>
      <input type="text" id="instrumento" th:field="*{instrumento}" />
      <br>

      <!-- Agrupación -->
      <label for="agrupacion">Agrupación:</label>
      <select id="agrupacion" th:field="*{agrupacion.id}">
        <option th:each="agrupacion : ${agrupaciones}" th:value="${agrupacion.id}" th:text="${agrupacion.nombre}"
          th:selected="${agrupacion.id == componente.agrupacion?.id}">
        </option>
      </select>

      <br>

      <!-- Botón para guardar -->
      <button type="submit">Guardar Cambios</button>
    </form>

    <!-- Enlace para volver -->
    <section class="container-links">
      <a th:href="@{'/agrupacion/' + ${componente.agrupacion.id}}">Cancelar</a>
      <a href="/">Volver al inicio</a>
    </section>

  </div>
</body>

</html>